@import "tailwindcss";

body {
  background-color: #131413;
  font-family: var(--font-poppins);

}

.slick-slide:focus,
.slick-slide div:focus,
.slick-slider:focus,
.slick-list:focus,
.slick-track:focus {
  outline: none !important;
  border: none !important;
}

.slick-slide img {
  outline: none !important;
  border: none !important;
}
